.btn {
	display: inline-block;
	position: relative;
}

.btn.fa,
.btn .fa {
	font-size: 18px;
	color: #999;
	cursor: pointer;
	transition: color .1s;
}

.btn.fa:hover,
.btn:hover .fa {
	color: #fff;
}

.btn.disable.fa,
.btn.disable .fa {
	opacity: .3;
}
