/* cuteslider overload */
#ctrl .cuteslider {
	height: 14px;
}

#ctrl .cuteslider-track {
	background: #666;
}

#ctrl .cuteslider-track-lower {
	background: #f22;
}

#ctrl .cuteslider-thumb {
	background: #999;
	transition: all .1s ease;
	transition-property: color, width, height, margin;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
}

#ctrl .cuteslider-vertical .cuteslider-thumb {
	margin: 0 0 -4px -4px;
}

#ctrl .cuteslider:hover .cuteslider-thumb {
	background: #fff;
	width: 14px;
	height: 14px;
	margin: -7px 0 0 -7px;
}

#ctrl .cuteslider-vertical:hover .cuteslider-thumb {
	margin: 0 0 -7px -7px;
}

#ctrl .btn.volume .cuteslider {
	transition: all .25s;
	margin: 0;
	width: 0;
	opacity: 0;
}

#ctrl .btn.volume:hover .cuteslider,
#ctrl .btn.volume .cuteslider.focus {
	margin: 0 7px;
	width: 50px;
	opacity: 1;
}
