/* List */
#playlist .list {
	counter-reset: section;
	position: absolute;
	overflow: auto;
	width: 100%;
	top: 26px;
	bottom: 0;
}

/* File */
#playlist .file {
	display: block;
	padding: .5em;
	color: #aaa;
	font-size: 12px;
	border-bottom: 1px solid #444;
	background: #222;
}

#playlist .file:hover {
	background: #333;
}

#playlist .file.selected {
	color: #fff;
	font-weight: bold;
}

#playlist .file:before {
	display: inline-block;
	counter-increment: section;
	content: counter( section );
	min-width: 11px;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	opacity: .5;
}

/* Icon */
#playlist .file .fa {
	margin: 0 .5em;
}

#playlist .file:not(.selected) .fa {
	color: #666;
}
