#playlist {
	overflow: hidden;
	background: rgba( 0, 0, 0, .3 );
	transition: all .3s;
	width: 0;
	opacity: 0;
}

#playlist.showing {
	opacity: 1;
}

#playlist .content {
	position: absolute;
	overflow: auto;
	left: 4px;
	right: 0;
	height: 100%;
}

#playlist.show {
	transition: none;
}

#playlist .extendWidth {
	display: inline-block;
	float: left;
	width: 4px;
	height: 100%;
	background: rgba( 255, 255, 255, .3 );
}

#playlist .extendWidth:hover,
#playlist .extendWidth.hover {
	background: rgba( 255, 255, 255, .6 );
}
