html, body {
	height: 100%;
}

body {
	margin: 0;
	background: #000;
}

video {
	position: absolute;
	width: 100%;
	height: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

a,
input {
	outline: 0; /* Firefox */
}

input {
	margin: 0;
}
