.btn {
	display: inline-block;
	position: relative;

	&.fa,
	> .fa {
		font-size: 18px;
		color: #999;
		cursor: pointer;
		transition: color .1s;
	}
	&.enable {
		&.fa,
		> .fa {
			color: #ddd;
			text-shadow: 0 0 6px rgba( 255, 255, 255, .6 );
		}
	}
	&.disable {
		&.fa,
		> .fa {
			opacity: .3;
		}
	}
	&.fa:hover,
	&:hover > .fa {
		color: #fff;
	}
}

