.ew-resize {
	cursor: ew-resize;
}

.no-select {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.textShadow {
	text-shadow:
		-1px -1px 1px #000,
		 1px -1px 1px #000,
		 1px  1px 1px #000,
		-1px  1px 1px #000
	;
}

.textOverflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
