.ew-resize {
	cursor: ew-resize;
}

.cursor-move {
	cursor: move;
}

.no-select {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.textShadow {
	text-shadow:
		.07em .05em 0px #000,
		0 0 .5em #000
	;
}

.textOverflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
