/* cuteslider overload */
.ctrl .cuteslider {
	height: 14px;

	&-track {
		background: #666;
	}
	&-track-lower {
		background: #f22;
	}
	&-thumb {
		transition: all .1s ease;
		transition-property: color, width, height, margin;
		width: 8px;
		height: 8px;
		margin: -4px !important;
		background: #999;
	}
	&:hover .cuteslider-thumb,
	&.focus .cuteslider-thumb {
		width: 14px;
		height: 14px;
		margin: -7px !important;
		background: #fff;
	}
}


