.ctrl,
.filename,
.shortcutDesc {
	transition: all .25s;
}

.playing.video.ctrlHiding .ctrl,
.playing.video.ctrlHiding .filename,
.shortcutDesc.hidden {
	transition-duration: 2s;
	visibility: hidden;
	opacity: 0;
}

.filename {
	display: none;
	position: relative;
	padding: 10px;
	font-size: 20px;
	background: linear-gradient( to top, transparent, #000 );

	.fa {
		margin-right: .5em;
	}
}

.playing .filename {
	display: block;
}

.playing.audio .filename .fa:before {
	content: "\f001"; /* fa-music */
}

.playing.video .filename .fa:before {
	content: "\f008"; /* fa-film */
}

.shortcutDesc {
	position: absolute;
	top: 50px;
	right: 20px;
	font-size: 20px;
}

.ctrl {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 15px;
	color: rgba( 255, 255, 255, .6 );
	background: linear-gradient( to bottom, transparent, #000 );
	cursor: default;

	* {
		vertical-align: middle;
		
		+ .btn {
			margin-left: 5px;
		}
	}
	.bottom {
		> * {
			display: inline-block;
		}
		.right {
			float: right;
		}
	}
	.txt.position {
		font-size: 12px;
	}
	.position {
		.current:after {
			content: "\A0/\A0";
		}
		&.remaining .duration,
		.remaining {
			display: none;
		}
		&.remaining .remaining {
			display: inline;
		}
		.remaining:before {
			content: "-";
		}
	}
	.btn.volume {
		.cuteslider {
			transition: all .25s;
			margin: 0;
			width: 0;
			opacity: 0;
		}
		&:hover .cuteslider,
		.cuteslider.focus {
			margin: 0 7px;
			width: 50px;
			opacity: 1;
		}
	}
	.opacity .menu {
		right: -62px;

		.cuteslider {
			width: 90px;
			height: 14px;
			margin: 0 .9em 0 .7em;
		}
	}
	.visu {
		.menu {
			min-width: 140px;
			right: -57px;
		}
		.slidebutton {
			float: right;
			width: 28px;
			height: 13px;
		}
	}
}


