.ctrl,
.filename,
.shortcutDesc {
	transition-property: opacity, visibility;
	transition-duration: .25s;
}

.playing.video.ctrlHiding .ctrl,
.playing.video.ctrlHiding .filename,
.shortcutDesc.hidden {
	transition-duration: 2s;
	visibility: hidden;
	opacity: 0;
}

.shortcutDesc {
	position: absolute;
	top: 50px;
	left: 13px;
	font-size: 16px;
}

.ctrl {
	padding: 0 15px 15px;
	color: #aaa;
	background: linear-gradient( to bottom, transparent, #000 22% );
	cursor: default;
	opacity: 0;

	.fileplayer.ready & {
		opacity: 1;
	}

	* {
		vertical-align: middle;
		
		+ .btn {
			margin-left: 10px;
		}
	}
	.bottom {
		> * {
			display: inline-block;
		}
		.right {
			float: right;
		}
	}
	.txt.position {
		font-size: 12px;
	}
	.position {
		.current:after {
			content: "\A0/\A0";
		}
		&.remaining .duration,
		.remaining {
			display: none;
		}
		&.remaining .remaining {
			display: inline;
		}
		.remaining:before {
			content: "-";
		}
	}
	.btn.volume {
		.fa {
			width: 1em;
		}
		.cuteslider {
			transition: all .25s;
			margin: 0;
			width: 0;
			opacity: 0;
		}
		&:hover .cuteslider,
		.cuteslider.focus {
			margin: 0 7px;
			width: 50px;
			opacity: 1;
		}
	}
	.speed {
		.menu {
			width: 200px;
			right: -80px;
		}
		.cuteslider {
			width: 137px;
			height: 14px;
			margin: 0 .8em 0 .7em;
		}
	}
	.brightness {
		> .fa {
			width: .7em;
			text-align: center;
		}
		.cuteslider {
			width: 83px;
			height: 14px;
			margin: 0 .9em 0 .7em;
		}
	}
	.visu {
		.fa {
			margin-right: -3px;
		}
		.slidebutton {
			float: right;
			width: 28px;
			height: 13px;
		}
	}
}


