.ctrl .menu {
	position: absolute;
	bottom: 100%;
	right: -60px;
	min-width: 140px;
	padding-bottom: 25px;
	cursor: default;
	transition: all .2s;
	visibility: hidden;
	opacity: 0;

	.content {
		overflow: hidden;
		border-radius: 4px;
		background: #111;
		border: 2px solid #666;
	}
	.fa {
		font-size: 14px;
	}
	.header, li {
		padding: 7px;
	}
	li {
		white-space: nowrap;
		border-top: 1px solid #333;

		&:hover {
			background: #222;
		}
	}
	ul.selectable li {
		cursor: pointer;

		&:before {
			content: "\f111";
			font: 6px "FontAwesome";
			margin-right: 1em;
			visibility: hidden;
		}
		&.selected:before {
			visibility: visible;
		}
	}
}

.ctrl .btn:hover .menu {
	visibility: visible;
	z-index: 1;
	opacity: 1;
}
