#screen {
	transition: opacity .5s;
}

#screen,
#screen video,
#screen canvas {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.playing.video.ctrlHidden #screen {
	cursor: none;
}

#screen canvas {
	display: none;
}

.playing.audio #screen canvas {
	display: block;
}
