$backLightWidth: 35%;

@keyframes backgroundPos {
	  0% { left: -$backLightWidth; }
	 70% { left: -$backLightWidth; }
	100% { left: 110%; }
}

.screen {
	.fileplayer.playing.video.ctrlHidden & {
		cursor: none;
	}
	.placeholder {
		position: absolute;
		top: 50%;
		left: 50%;
		$w: 268px;
		$h: 52px;
		width: $w;
		height: $h;
		margin: $h/-2 0 0 $w/-2;
		opacity: 0;
		transition: opacity .2s;

		.fileplayer.playing & {
			display: none;
		}
		.fileplayer.ready & {
			opacity: 1;
		}
		.title {
			height: 100%;
			position: relative;
			overflow: hidden;
			background: rgba( 102, 102, 102, .9 );

			.gradient {
				position: absolute;
				width: $backLightWidth;
				top: -50%;
				height: 200%;
				background: linear-gradient( to right,
					transparent 0%,
					#fff 50%,
					transparent 100%
				);
				transform: rotate( -20deg );
				animation: backgroundPos 3s linear infinite;
			}
			.png {
				position: absolute;
				width: 100%;
				height: 100%;
				background: url( "fileplayer.png" );
			}
		}
		.version {
			position: absolute;
			top: 39px;
			left: 54px;
			font: 11px monospace;
			white-space: nowrap;
			opacity: .25;
		}
		.num {
			margin-left: .7em;
		}
	}
	&, .image, .image * {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
	}
	.image {
		transition: opacity .5s;
		background: #000;
		opacity: 0;

		.playing & {
			opacity: 1;
		}
	}
	.brightnessWrapper {
		transition: opacity .5s;
	}
	canvas {
		display: none;

		.fileplayer.playing.audio & {
			display: block;
		}
	}
	.filename {
		display: none;
		box-sizing: border-box;
		position: relative;
		padding: 10px;
		font-size: 20px;
		background: linear-gradient( to top, transparent, #000 );

		.playing & {
			display: block;
		}
		.fa {
			margin-right: .5em;

			.playing.audio &:before {
				content: "\f001"; /* fa-music */
			}
			.playing.video &:before {
				content: "\f008"; /* fa-film */
			}
		}
	}
}
