.screen {
	transition: opacity .5s;

	&,
	video,
	canvas {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
	}
	canvas {
		display: none;
	}
}

.playing.video.ctrlHidden .screen {
	cursor: none;
}

.playing.audio .screen canvas {
	display: block;
}
