/* Texts on screen */
.cues {
	position: absolute;
	width: 100%;
	text-align: center;

	> span {
		color: #fff;

		&:empty {
			visibility: hidden;
		}
	}
}

.ctrlVisible .cues.isUnderCtrl {
	bottom: 80px !important;
}

/* Menu */
.ctrl .subtitles {
	.menu {
		right: -53px;
	}
	.slidebutton {
		float: right;
		width: 28px;
		height: 13px;
	}
	li {
		cursor: pointer;

		&:before {
			content: "\f111";
			font: 6px "FontAwesome";
			margin-right: 1em;
			visibility: hidden;
		}
		&.selected:before {
			visibility: visible;
		}
	}
}
