/* Texts on screen */
.cues {
	position: absolute;
	width: 100%;
	text-align: center;
	padding-bottom: .3em;

	> span {
		color: #fff;

		&:empty {
			visibility: hidden;
		}
	}
}

.ctrlVisible .cues.isUnderCtrl {
	bottom: 55px !important;
}
