#ctrl,
#title,
#shortcutDesc {
	transition: all .25s;
}

.playing.video.ctrlHiding #ctrl,
.playing.video.ctrlHiding #title,
#shortcutDesc.hidden {
	transition-duration: 2s;
	visibility: hidden;
	opacity: 0;
}

#title {
	display: none;
	position: relative;
	padding: 10px;
	font-size: 20px;
	background: linear-gradient( to top, transparent, #000 );
}

.playing #title {
	display: block;
}

#title .fa {
	margin-right: .5em;
}

.playing.audio #title .fa:before {
	content: "\f001"; /* fa-music */
}

.playing.video #title .fa:before {
	content: "\f008"; /* fa-film */
}

#shortcutDesc {
	position: absolute;
	top: 50px;
	left: 20px;
	font-size: 20px;
}

#shortcutDesc {
	left: auto;
	right: 20px;
}

#ctrl {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 15px;
	color: rgba( 255, 255, 255, .6 );
	background: linear-gradient( to bottom, transparent, #000 );
	cursor: default;
}

#ctrl * {
	vertical-align: middle;
}

#ctrl .bottom > * {
	width: 50%;
	display: inline-block;
}

#ctrl * + .btn {
	margin-left: 5px;
}

#ctrl .bottom .right {
	text-align: right;
}

#ctrl .txt.position {
	font-size: 12px;
}

#ctrl .position .current:after {
	content: "\A0/\A0";
}

#ctrl .position.remaining .duration,
#ctrl .position .remaining {
	display: none;
}

#ctrl .position.remaining .remaining {
	display: inline;
}

#ctrl .position .remaining:before {
	content: "-";
}

#ctrl .btn.volume .cuteslider {
	transition: all .25s;
	margin: 0;
	width: 0;
	opacity: 0;
}

#ctrl .btn.volume:hover .cuteslider,
#ctrl .btn.volume .cuteslider.focus {
	margin: 0 7px;
	width: 50px;
	opacity: 1;
}

#ctrl .opacity .menu {
	right: -62px;
}

#ctrl .opacity .menu .cuteslider {
	width: 90px;
	height: 14px;
	margin: 0 .9em 0 .7em;
}

#ctrl .visu .menu {
	min-width: 140px;
	right: -57px;
}

#ctrl .visu .slidebutton {
	float: right;
	width: 28px;
	height: 13px;
}
