#ctrl .menu {
	position: absolute;
	bottom: 100%;
	padding-bottom: 25px;
	cursor: default;
	transition: all .2s;
	visibility: hidden;
	opacity: 0;
}

#ctrl .btn:hover .menu {
	visibility: visible;
	opacity: 1;
}

#ctrl .menu .content {
	overflow: hidden;
	border-radius: 4px;
	text-align: left;
	background: #111;
	box-shadow: 0 0 50px #000;
}

#ctrl .menu .header,
#ctrl .menu li {
	padding: 7px;
}

#ctrl .menu li {
	cursor: pointer;
	white-space: nowrap;
	border-top: 1px solid rgba( 255, 255, 255, .05 );
}

#ctrl .menu li:hover {
	background: rgba( 255, 255, 255, .05 );
}

#ctrl .menu li:before {
	content: "\f111";
	font: 6px "FontAwesome";
	margin-right: 1em;
	visibility: hidden;
}

#ctrl .menu li.selected:before {
	visibility: visible;
}
