#ctrl .menu.subtitles {
	min-width: 140px;
	right: -57px;
}

#ctrl .menu.subtitles .slidebuttonParent {
	float: right;
}

#ctrl .menu.subtitles {
	font-size: 12px;
}

#ctrl .menu.subtitles .title {
	opacity: .3;
}

#ctrl .menu.subtitles .slidebutton {
	float: right;
	width: 28px;
	height: 13px;
}
