#ctrl .menu {
	position: absolute;
	bottom: 100%;
	padding-bottom: 25px;
	cursor: default;
	transition: all .2s;
	visibility: hidden;
	opacity: 0;
}

#ctrl .btn:hover .menu {
	visibility: visible;
	z-index: 1;
	opacity: 1;
}

#ctrl .menu .content {
	overflow: hidden;
	border-radius: 4px;
	text-align: left;
	background: #111;
	border: 2px solid #666;
}

#ctrl .menu .fa {
	font-size: 14px;
}

#ctrl .menu .header,
#ctrl .menu li {
	padding: 7px;
}

#ctrl .menu li {
	white-space: nowrap;
	border-top: 1px solid #333;
}

#ctrl .menu li:hover {
	background: #222;
}
