#cues {
	position: absolute;
	width: 100%;
	text-align: center;
}

.ctrlVisible #cues.isUnderCtrl {
	bottom: 80px !important;
}

#cues > span {
	color: #fff;
	text-shadow:
		-1px -1px 1px #000,
		 1px -1px 1px #000,
		 1px  1px 1px #000,
		-1px  1px 1px #000
	;
}

#cues > span:empty {
	visibility: hidden;
}
