#cues {
	position: absolute;
	width: 100%;
	text-align: center;
}

.ctrlVisible #cues.isUnderCtrl {
	bottom: 80px !important;
}

#cues > span {
	color: #fff;
}

#cues > span:empty {
	visibility: hidden;
}
