#playlist {

	.list {
		counter-reset: section;
		position: absolute;
		overflow: auto;
		width: 100%;
		top: 26px;
		bottom: 0;
	}

	.file {
		position: relative;
		display: block;
		overflow: hidden;
		box-sizing: border-box;
		height: 28px;
		padding: .5em;
		cursor: pointer;
		color: #aaa;
		font-size: 12px;
		border: 0 solid #444;
		border-width: 1px 0;
		margin-top: -1px;
		background: #222;
		transition-property: margin-top, height, padding;

		&, &:before {
			transition-duration: .2s;
		}

		&:hover {
			background: #333;
		}

		&.dragging {
			opacity: .5;
			height: 0;
			padding-top: 0;
			padding-bottom: 0;
			overflow: hidden;
		}

		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 0;
			left: 0;
			bottom: 100%;
			transition-property: height;
		}

		&.dragover:before {
			height: 10px;
		}

		&.dragover {
			margin-top: 9px;
		}

		&.selected {
			color: #fff;
			font-weight: bold;
		}

		.content:before {
			display: inline-block;
			counter-increment: section;
			content: counter( section );
			min-width: 11px;
			text-align: center;
			font-size: 10px;
			font-weight: bold;
			opacity: .5;
		}

		.fa {
			margin: 0 .5em;
		}

		&:not(.selected) .fa {
			color: #666;
		}
	}
}
