.tooltip .repeatDot {
	position: absolute;
	margin: 5px 0 0 -3px;
	font-size: 6px;
}

.playlist nav {
	display: table;
	width: 100%;
	height: 45px;
	background: #222;

	> * {
		display: table-cell;
		height: 100%;
		padding: 0 10px;
		vertical-align: middle;
	}
	.index {
		white-space: nowrap;
		font-size: 12px;
		text-align: center;
	}
	.current {
		font-weight: bold;

		&:after {
			content: "\A0/\A0";
			font-weight: normal;
		}
	}
	.input {
		width: 100%;
		background: #111;
	}
	form {
		height: 100%;
	}
	input {
		width: 100%;
		height: 100%;
		padding: 0;
		border: 0;
		font-size: 18px;
		color: inherit;
		background: transparent;

		&::-webkit-input-placeholder { color: #444; opacity: 1; }
		&::-moz-placeholder          { color: #444; opacity: 1; }
		&:-ms-input-placeholder      { color: #444; opacity: 1; }
	}
	.right {
		text-align: right;
		white-space: nowrap;
	}
	.shuffle {
		margin-right: .2em;
	}
	.repeat {
		position: relative;

		* {
			display: none;
			position: absolute;
			left: -1px;
			top: 0;
			font: bold 12px/12px sans-serif;
			border-radius: 999px;
			border: 6px solid;
			border-color: inherit;
		}
		&.one *,
		&.all * {
			display: block;
		}
		:after {
			position: absolute;
			left: -3px;
			top: -6px;
			color: #333;
		}
		&.one :after {
			content: "1";
			font-size: 10px;
			font-weight: bold;
		}
		&.all :after {
			content: "\f0c9";
			font: 8px FontAwesome;
			top: -4px;
		}
	}
	.close {
		margin-left: .5em;
		font-size: 2em;
	}
}
