.playlist {
	width: 350px;
	max-width: 100%;
	min-width: 250px;
	border-left: 1px solid #222;
	background: rgba( 0, 0, 0, .9 );
	transition-duration: .3s;
	transition-property: right, opacity, visibility;
	right: -50px;
	opacity: 0;
	visibility: hidden;

	.fileplayer.list-open & {
		right: 0;
		opacity: 1;
		visibility: visible;
	}
	> .content {
		height: 100%;
	}
	input[type="file"] {
		display: none;
	}
	.extendWidth {
		position: absolute;
		width: 16px;
		left: -8px;
		top: 0;
		bottom: 0;
	}
}
