#playlist {
	background: #0a0a0a;
	transition: all .3s;
	width: 0;
	opacity: 0;
	visibility: hidden;

	&.showing {
		visibility: visible;
		opacity: 1;
	}

	&.show {
		transition: none;
	}

	> * > .content {
		position: absolute;
		left: 4px;
		right: 0;
		height: 100%;
	}

	input[type="file"] {
		display: none;
	}

	.extendWidth {
		position: relative;
		z-index: 1;
		display: inline-block;
		float: left;
		width: 4px;
		height: 100%;
		background: #666;
		
		&:hover, &.hover {
			background: #aaa;
		}

		&:after {
			content: "";
			position: absolute;
			left: -7px;
			right: -7px;
			height: 100%;
		}
	}
}
