#ctrl .cuteSlider-container {
	position: relative;
}

#ctrl .cuteSlider.position {
	width: 100%;
	padding-bottom: 10px;
}

#ctrl .thumbnail,
#ctrl .thumbnail video,
#ctrl .thumbnail:after {
	transition: all .1s;
}

#ctrl .thumbnail {
	position: absolute;
	left: 0;
	bottom: 100%;
	width: 160px;
	height: 90px;
	margin: 0 0 15px -82px;
	border: 2px solid rgba( 255, 255, 255, .2 );
	border-radius: 4px;
	overflow: hidden;
	background: #000;
	transition-property: visibility, opacity;
	visibility: hidden;
	opacity: 0;
}

#ctrl .cuteSlider.position:hover + .thumbnail {
	visibility: visible;
	opacity: 1;
}

#ctrl .thumbnail video {
	width: 100%;
	height: 100%;
}

#ctrl .thumbnail.loading video {
	opacity: 0;
}

#ctrl .thumbnail canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

#ctrl .thumbnail.loading canvas {
	opacity: 1;
}

#ctrl .thumbnail:after {
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	width: 14px;
	height: 14px;
	background: url( "../../global/loading.gif" );
	opacity: 0;
}

#ctrl .thumbnail.loading:after {
	opacity: .5;
}
