/* cuteSlider overload */
#ctrl .cuteSlider {
	height: 14px;
}

#ctrl .cuteSlider-track {
	background: #666;
}

#ctrl .cuteSlider-track-lower {
	background: #f22;
}

#ctrl .cuteSlider-thumb {
	background: #999;
	transition: all .1s ease;
	transition-property: color, width, height, margin;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
}

#ctrl .cuteSlider:hover .cuteSlider-thumb {
	background: #fff;
	width: 14px;
	height: 14px;
	margin: -7px 0 0 -7px;
}

#ctrl .btn .cuteSlider {
	transition: all .25s;
	margin: 0;
	width: 0;
	opacity: 0;
}

#ctrl .btn:hover .cuteSlider,
#ctrl .btn .cuteSlider.focus {
	margin: 0 7px;
	width: 50px;
	opacity: 1;
}
