html, body {
	height: 100%;

	/* IE need it for fullscreen mode. */
	width: 100%;
}

body {
	margin: 0;
	color: #ddd;
	font: 12px sans-serif;
	background: #111;

	/* To prevent the "scroll too much" effect on Mac. */
	overflow: hidden;
}

/* Scroll bar */
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-thumb {
	border-radius: 999px;
	background: #888;
}
::-webkit-scrollbar-track {
	background: #111;
}

a {
	color: inherit;
	text-decoration: none;
}

a,
input {

	/* For Firefox. */
	outline: 0;
}

input,
ul {
	margin: 0;
	padding: 0;
}

.ew-resize {
	cursor: ew-resize;
}

.no-select {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

#main {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
}

#main > * {
	display: table-cell;
	vertical-align: top;

	/* Needed for Firefox. */
	height: 100%;
}

/*
	These wrapper is needed for IE11.
	Can't use a direct absolute child inside a table-cell element.
*/
.tableCellWrapper {
	position: relative;
	width: 100%;
	height: 100%;
}
