#subtitlesContainer {
	position: absolute;
	bottom: 70px;
	width: 100%;
	font-size: 22px;
	color: #fff;
	text-align: center;
	text-shadow: 0 0 6px #000;
}

.ctrlHidden #subtitlesContainer {
	bottom: 5px;
}
