#ctrl,
#titleFile,
#shortcutDesc {
	transition: all .25s;
}

.ctrlHiding #ctrl,
#titleFile.hidden,
#shortcutDesc.hidden {
	transition-duration: 2s;
	visibility: hidden;
	opacity: 0;
}

#titleFile,
#shortcutDesc {
	position: absolute;
	top: 50px;
	left: 20px;
	font-size: 20px;
}

#shortcutDesc {
	left: auto;
	right: 20px;
}

#ctrl {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 15px;
	color: rgba( 255, 255, 255, .6 );
	background: linear-gradient( to bottom, rgba( 0, 0, 0, 0 ), #000 );
	cursor: default;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
}

#ctrl * {
	vertical-align: middle;
}

#ctrl .bottom > * {
	width: 50%;
	display: inline-block;
}

#ctrl .btn {
	font-size: 18px;
	cursor: pointer;
	transition: color .1s;
}

#ctrl * + .btn {
	margin-left: 5px;
}

#ctrl .btn.disable {
	color: rgba( 255, 255, 255, .3 );
}

#ctrl .btn:hover {
	color: #fff;
}

#ctrl .bottom .right {
	text-align: right;
}

#ctrl .txt.position {
	font-size: 12px;
}

#ctrl .position .delimiter:after {
	content: "\A0/\A0";
}

#ctrl .position.remaining .duration,
#ctrl .position .remaining {
	display: none;
}

#ctrl .position.remaining .remaining {
	display: inline;
}

#ctrl .position .remaining:before {
	content: "-";
}

/* controls' menu */
#ctrl .menu {
	opacity: 0;
	visibility: hidden;
	display: inline-block;
	position: absolute;
	bottom: 100%;
	/* Temporary margin : need to position it genericaly  */
	margin-left: -50px;
	border-radius: 4px;
	background-color: rgba( 13, 13, 13, 0.80 );
	text-align: left;
	font-size: 11px;
	font-weight: lighter;
	color: rgba( 255, 255, 255, 0.6 );
	transition: all .2s;
}

#ctrl .menu-list {
	display: block;
	height: 100%;
	margin: 0;
	padding: 0;
	border-radius: 4px;
}

#ctrl .menu-list li {
	overflow: hidden;
	display: block;
	padding: 7px;
	border-radius:4px;
	cursor: pointer;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#ctrl .menu-list li + li {
	border-top: 1px solid rgba( 255, 255, 255, 0.1 );
}

#ctrl .menu-list li:hover {
	background-color: rgba( 12, 12, 12, 0.80 );
}

#ctrl .menu-list li.selected {
	color: rgba( 255, 255, 255, 0.9 );
	font-weight: 500;
}

#ctrl .menu-list-checkbox > div {
	display: inline-block;
	width: 50%;
}

#ctrl .menu-list-checkbox .slidebutton {
	float: right;
	width: 28px;
	height: 13px;
}


