#ctrl,
#titleFile,
#shortcutDesc {
	transition: all .25s;
}

.ctrlHiding #ctrl,
#titleFile.hidden,
#shortcutDesc.hidden {
	transition-duration: 2s;
	visibility: hidden;
	opacity: 0;
}

#titleFile,
#shortcutDesc {
	position: absolute;
	top: 50px;
	left: 20px;
	font-size: 20px;
}

#shortcutDesc {
	left: auto;
	right: 20px;
}

#ctrl {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	color: #ddd;
	background: rgba( 20, 20, 20, .8 );
	cursor: default;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

#ctrl * {
	vertical-align: middle;
}

#ctrl .bottom > * {
	width: 50%;
	display: inline-block;
}

#ctrl .btn {
	font-size: 18px;
	cursor: pointer;
}

#ctrl .btn.disable {
	opacity: .3;
}

#ctrl .bottom .right {
	text-align: right;
}

#ctrl .slider.volume {
	width: 50px;
}

#ctrl .slider.position {
	width: 100%;
	margin-bottom: 5px;
}

#ctrl .text.position {
	margin-left: 10px;
	font-family: monospace;
	cursor: pointer;
}

#ctrl .position .delimiter:after {
	content: "\A0/\A0";
}

#ctrl .position.remaining .duration,
#ctrl .position .remaining {
	display: none;
}

#ctrl .position.remaining .remaining {
	display: inline;
}

#ctrl .position .remaining:before {
	content: "-";
}
