#ctrl {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	color: #ddd;
	background: rgba( 255, 255, 255, .1 );
	transition: all .25s;
}

.ctrlHiding #ctrl {
	transition-duration: 2s;
	visibility: hidden;
	opacity: 0;
}

#ctrl * {
	vertical-align: middle;
}

#ctrl .bottom > * {
	width: 50%;
	display: inline-block;
}

#ctrl .bottom .right {
	text-align: right;
}

#ctrl .slider.volume {
	width: 50px;
}

#ctrl .slider.position {
	width: 100%;
}

#ctrl .position {
	font-family: monospace;
	cursor: pointer;
}

#ctrl .position .delimiter:after {
	content: "\A0/\A0";
}

#ctrl .position.remaining .duration,
#ctrl .position .remaining {
	display: none;
}

#ctrl .position.remaining .remaining {
	display: inline;
}

#ctrl .position .remaining:before {
	content: "-";
}
